# /opt/matomo-agent/config.toml
[matomo]
url = ""
site_id = "1"
token_auth = ""
# If you are using the agent plugin for matomo
plugin = false

[log]
# Valid options: "nginx" or "apache"
log_format = "nginx"
log_path = "/var/log/nginx/access.log"
user_agents = ["Mozilla/5.0", "Googlebot", "Bingbot", "YourUserAgent"]

[agent]
# Log levels: "debug", "info", "warn", "error"
log_level = "info"
# Path to the log file for your agent logs
log_file = "/var/log/matomo-agent.log"