# /opt/matomo-agent/config.toml
[matomo]
url = ""
site_id = "1"
token_auth = ""
# If you are using the agent plugin for Matomo
plugin = false
# If you want to track downloads
downloads = true

[log]
# Valid options: "nginx" or "apache"
log_format = "nginx"
log_path = "/var/log/nginx/access.log"
# Only track these User agents. If user_agents no value, all user agents will be tracked.
# user_agents = [
#    "Mozilla/5.0",
#    "Googlebot",
#    "MyUserAgent",
# ]
user_agents = []

[agent]
# Log levels: "debug", "info", "warn", "error"
log_level = "info"
# Path to the log file for your agent logs
log_file = "/var/log/matomo-agent.log"